@import url('https://fonts.googleapis.com/css?family=Varela');

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

/*body {
  background-image: url(../img/background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}*/

a {
  color: black;
  text-decoration: none;
}

h1, p, ul, li {
  margin: 0;
  padding: 0;
}

img[usemap] {
  border: none;
  height: auto;
  width: 100%;
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  /*height: 50px;*/
}

#nav-social {
  float: left;
  width: 30%;
  padding: 1em 0 0 1em;
  margin: 0;
}

#nav-social li {
  display: inline-block;
  padding-right: 0.5em;
  font-size: 2em;
}

#nav-social li:last-child {
  padding-right: 0;
}

#nav-logo {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0 0 0;
  width: 40%;
}

#nav-logo img {
  max-width: 35%;
}

#nav-store {
  float: right;
  display: inline-block;
  margin: 0;
  padding: 1rem 1rem 0 0;
  font: 600 2em 'Varela', sans-serif;
}

.imgmap-centered {
  position: absolute;
  bottom: 0;
}

#modalOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.3);
}

.modal {
  display: none;
  position: relative;
  top: 20%;
  margin: 0 auto;
  width: 60%;
  height: 60%;
  padding: 30px;
  box-shadow: 0 5px 50px -4px #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal .content {
  font: 600 1em 'Varela', sans-serif;
  background-color: white;
  opacity: 0.8;
  z-index: 0;
  color: black;
  text-align: left;
  width: 40%;
  margin-top: 10%;
  padding: 1em;
}

.content h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.content p {
  font-size: 1em;
  margin-bottom: 0.5em;
}

.modal span.modalClose {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top: 15px;
}

.personal-media li {
  display: inline-block;
  font-size: 1.5em;
  padding-right: 0.25em;
}

.watanabe {
  background-image: url(../img/watanabe.jpg);
}

.watanabe .content {
  float: right;
}

.takezawa {
  background-image: url(../img/takezawa.jpg);
}

.takezawa .content {
  float: right;
}

.manami {
  background-image: url(../img/manami.jpg);
}

.manami .content {
  float: left;
}

.kudo {
  background-image: url(../img/kudo.jpg);
}

.kudo .content {
  float: right;
}

.takebuchi {
  background-image: url(../img/takebuchi.jpg);
}

.takebuchi .content {
  float: left;
}

.sayaka {
  background-image: url(../img/sayaka.jpg);
}

.sayaka .content {
  float: right;
}

.johnny {
  background-image: url(../img/johnny.jpg);
}

.johnny .content {
  float: left;
}

footer p {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  font: 400 1.5em 'Varela', sans-serif;
  padding-bottom: 0.5em;
}